// Styles for Sidebar lies here
.sidebar {
    width: 100px;
    background-color: rgb(255, 255, 255);
}

.sidebarTop{
    justify-content: center;
}

.nav-list{
    width: 100%;
    padding-bottom: 40px;
    border-right: 1px solid black;
}

.nav-item {
    text-align: center;
}

.icon-square, .icon-cart, .icon-file-text2, .icon-cog {
    padding: 30px;
    font-size: 1.5rem;
}

.icon-pagekit, .icon-exit {
    padding: 10px;
    font-size: 1.5rem;
}