.icon-people_alt, .icon-home, .icon-search, .icon-price-tags, .icon-stacked_line_chart {
  color: black;
}

.icon-stacked_line_chart {
  color: #00fc69;
}

* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::after,
::before {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  color: #000000;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background-color: #f8f8f8;
  overflow: hidden;
}

.d-none {
  display: none;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.h-25 {
  height: 25%;
}

.h-50 {
  height: 50%;
}

.h-75 {
  height: 75%;
}

.h-100 {
  height: 100%;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-grow-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.flex-shrink-0 {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.flex-shrink-1 {
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align-content-center {
  -ms-flex-line-pack: center;
      align-content: center;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-center {
  text-align: center;
}

.text-decoration-none {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.overflow-hidden-x {
  overflow-x: hidden;
}

.overflow-hidden-y {
  overflow-y: hidden;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

ul {
  list-style-type: none;
}

li {
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header {
  height: 50px;
  border-bottom: 1px solid black;
  background-color: #fcf9f9;
}

.icon-logo {
  font-size: 1.5rem;
}

.tophead {
  margin-top: 10px;
}

.tophead span {
  margin-left: 35px;
}

.nav-item-header {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

.nav-link {
  text-decoration: none;
}

#search-input {
  width: 500px;
}

.bx-search {
  position: absolute;
  height: 20px;
  width: 70px;
  background: #2697FF;
  top: 20px;
  text-align: center;
  color: #fff;
}

.main-content {
  background-color: #dadad6;
  padding-top: 15px;
  padding: 5px;
}

.main-title {
  color: rgba(0, 0, 0, 0.685);
}

.stat-card {
  height: 150px;
  background-color: white;
}

.card-content {
  margin-left: 10px;
}

.stat-card:hover {
  background-color: #0e3f99;
  color: white;
}

.icon-people_alt, .icon-home, .icon-search, .icon-price-tags, .icon-stacked_line_chart {
  font-size: 50px;
}

.sidebar {
  width: 100px;
  background-color: white;
}

.sidebarTop {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-list {
  width: 100%;
  padding-bottom: 40px;
  border-right: 1px solid black;
}

.nav-item {
  text-align: center;
}

.icon-square, .icon-cart, .icon-file-text2, .icon-cog {
  padding: 30px;
  font-size: 1.5rem;
}

.icon-pagekit, .icon-exit {
  padding: 10px;
  font-size: 1.5rem;
}

.card {
  width: 23%;
}

.stat-card {
  width: 24%;
}

.stat-card .count {
  border-bottom: 1px solid #e2e2e2;
  border-width: 2px;
}

table {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
}

.main-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.text-decoration-none {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

ul {
  list-style-type: none;
}
/*# sourceMappingURL=style.css.map */